body {
    background-color: rgb(16, 16, 16);
}

/* call[1] */

.topbar {
    overflow: hidden;
    padding: 10px 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: rgba(34, 42, 53, 0.06) 0px 0px 24px, rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(34, 42, 53, 0.04) 0px 0px 0px 1px, rgba(34, 42, 53, 0.08) 0px 0px 4px, rgba(47, 48, 55, 0.05) 0px 16px 68px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
}

.main-container {
    overflow: hidden;
    padding: 10px 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: rgba(34, 42, 53, 0.06) 0px 0px 24px, rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(34, 42, 53, 0.04) 0px 0px 0px 1px, rgba(34, 42, 53, 0.08) 0px 0px 4px, rgba(47, 48, 55, 0.05) 0px 16px 68px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
}

.window-mock {
    flex-direction: column;
    border-radius: 8px;
    color: white;
    padding: 10px;
    margin-top: 15px;
    min-height: 200px;
    backdrop-filter: blur(10px);
    box-shadow: rgba(34, 42, 53, 0.06) 0px 0px 24px, rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(34, 42, 53, 0.04) 0px 0px 0px 1px, rgba(34, 42, 53, 0.08) 0px 0px 4px, rgba(47, 48, 55, 0.05) 0px 16px 68px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
}

/* light[1] */

.glow-light {
    width: 2000px;
    background: #22222200;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    overflow: hidden;
}
  
.glow-light::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 100px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.068), transparent);
    filter: blur(30px);
}

/* text[1] */

.text-message {
    margin: 10px 0;
    padding: 100px 50px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.185);
    box-shadow: rgba(34, 42, 53, 0.06) 0px 0px 24px, rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(34, 42, 53, 0.04) 0px 0px 0px 1px, rgba(34, 42, 53, 0.08) 0px 0px 4px, rgba(47, 48, 55, 0.05) 0px 16px 68px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.text-message::placeholder {
    color: rgba(255, 255, 255, 0.397);
    font-family: 'Poppins', sans-serif;
}

.submit-message {
    margin: 10px 0;
    padding: 20px 50px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.185);
    box-shadow: rgba(34, 42, 53, 0.06) 0px 0px 24px, rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(34, 42, 53, 0.04) 0px 0px 0px 1px, rgba(34, 42, 53, 0.08) 0px 0px 4px, rgba(47, 48, 55, 0.05) 0px 16px 68px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.reset-message {
    margin: 10px 0;
    padding: 20px 50px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.185);
    box-shadow: rgba(34, 42, 53, 0.06) 0px 0px 24px, rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(34, 42, 53, 0.04) 0px 0px 0px 1px, rgba(34, 42, 53, 0.08) 0px 0px 4px, rgba(47, 48, 55, 0.05) 0px 16px 68px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.text-container {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.s4tangz-text {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 16.5px;
    font-family: 'Poppins', sans-serif;
}

.top-text {
    float: left;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.divtop-text {
    float: left;
    color: rgba(255, 255, 255, 0.411);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.s4tangzwebslie-text {
    float: left;
    color: rgb(255, 204, 0);
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.text-1 {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding: 0px 15px;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.random-text {
    color: rgb(255, 204, 0);
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    filter: drop-shadow(0 0 10px rgba(255, 204, 0,  0.5));
}

.no-text {
    color: rgb(255, 204, 0);
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    filter: drop-shadow(0 0 10px rgba(255, 204, 0,  0.5));
}

/* a.topbar[1] */

.topbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.topbar a:hover {
    animation: colorTween 0.3s infinite alternate;
}

.window-mock button[type="reset"]:hover {
    animation: buttonGlow1 0.5s infinite alternate;
}

.window-mock button[type="submit"]:hover {
    animation: buttonGlow 0.5s infinite alternate;
}

.topbar .right {
    float: right;
}

/* Tween[1] */

@keyframes colorTween {
    from { color: white; }
    to   { color: rgb(255, 204, 0); }
}

@keyframes buttonGlow {
    from { filter: drop-shadow(0 0 5px rgba(0, 255, 21, 0.3)); color: white; }
    to { filter: drop-shadow(0 0 15px rgba(0, 255, 13, 0.8)); color: rgb(79, 255, 63); }
}

@keyframes buttonGlow1 {
    from { filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.3)); color: white; }
    to { filter: drop-shadow(0 0 15px rgba(255, 0, 0, 0.8)); color: rgb(255, 63, 63); }
}